<!DOCTYPE html>
<html lang="en" class="bg-gray-50 dark:bg-gray-900 transition-colors duration-300">
  {{ partial "resumePartials/head.html" . }}
  <body>
    <div class="container mx-auto px-4 py-8 max-w-4xl">
      {{ partial "resumePartials/header.html" . }}
      {{ partial "resumePartials/summary.html" . }}
      {{ partial "resumePartials/experience.html" . }}
      {{ partial "resumePartials/skills.html" . }}
      {{ partial "resumePartials/projects.html" . }}
      {{ partial "resumePartials/certifications.html" . }}
      {{ partial "resumePartials/education.html" . }}
      {{ partial "resumePartials/awards.html" . }}
      {{ partial "resumePartials/publications.html" . }}
      {{ partial "resumePartials/metrics.html" . }}
      {{ partial "resumePartials/courses.html" . }}
      {{ partial "resumePartials/languages.html" . }}
      {{ partial "resumePartials/hobbies.html" . }}
      {{ partial "resumePartials/references.html" . }}
      {{ partial "resumePartials/blog.html" . }}
    </div>
  </body>
</html>