/* variables in root element */

:root {
  --font-family-main: "Bricolage Grotesque", sans-serif;
  --font-weight-main: 500;
  --font-family-content: "Bricolage Grotesque", serif;
  --font-weight-content: 500;
  --font-family-summary: "Bricolage Grotesque", serif;
  --font-weight-summary: 500;

  --dim-color: hsla(0, 0%, 53%, 0.267);
  --accept-color: hsl(131, 100%, 62%);
  --reject-color: hsl(0, 100%, 60%);

  --quote-text-color: hsl(0, 0%, 53%);
}

:root[color-scheme^='light'] {
  --body-text-color: hsl(0, 0%, 13%);
  --body-secondary-text-color: hsl(0, 0%, 13%);
  --body-background-color: hsl(50, 17%, 93%);
  --body-background-highlight-color:  hsl(50, 17%, 87%);

  --code-text-color: hsl(0, 0%, 13%);
  --code-background-color: hsl(0, 0%, 90%);
  
  --primary-color: hsl(220, 50%, 40%);
  --selection-color: hsl(220, 50%, 40%);
  --dim-opacity: 65%;
}

:root[color-scheme^='dark'] {
  --body-text-color: hsl(50, 17%, 93%);
  --body-secondary-text-color: hsl(50, 17%, 80%);
  --body-background-color: hsl(0, 0%, 7%);
  --body-background-highlight-color: hsl(0, 0%, 3%);
  
  --code-text-color: hsl(50, 17%, 93%);
  --code-background-color: hsl(0, 3%, 19%);

  --primary-color: hsl(220, 53%, 58%);
  --selection-color: hsl(220, 50%, 40%);
  --dim-opacity: 50%;
}

