{{- partial "search_bar.html" -}}

{{/*  {{ partial "components/side_content.html" (dict "section" "home") }}  */}}

{{- range $filter := site.Params.lightning.side.home.taxonomies -}}
  {{- with (index site.Taxonomies $filter) -}}
    <h3>{{- $filter | title -}}</h3>
    <ul class="taxonomy-list">
    {{- $limit := site.Params.lightning.side.home.countTaxonomy }}
    {{- $i := $limit -}}

    {{/* For some reason, using "range first N COLLECTION" doesn't work here */}}
    {{- range (sort . ".Count" "desc") -}}
      {{ $i = sub $i 1 }}
      {{- if lt $i 0 -}}{{- break -}}{{- end -}}
      <li>
    <a class="tag" href="{{- .Page.Permalink -}}">
      ※ <span>{{- .Page.Title | lower -}}&nbsp<span class="text-sm dim">{{ .Count }}</span>
    </a>
      </li>
    {{- end -}}
      {{- if (gt (len .) $limit) -}}
      <li>
        <a href="{{- absURL $filter -}}">{{- i18n "see_all" -}}</a>
      </li>
      {{- end -}}
    </ul>
  {{- end -}}
  <div style="text-align:center; padding: .5rem 0 0 0; border-top: 1px var(--dim-color) solid;">
    <a href="#" style="font-size:.8em;">{{ i18n "scroll_top" }}</a>
  </div>
{{- end -}}
